@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9CA3AF #F4F4F5;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: #F4F4F5;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 12px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #9CA3AF;
    border-radius: 99999px;
    border-right: 3px #F4F4F5 solid;
  }